<component name="libraryTable">
  <library name="MidiMapper">
    <CLASSES />
    <JAVADOC>
      <root url="file:///Applications/Processing.app/Contents/libraries/controlP5/reference" />
    </JAVADOC>
    <SOURCES>
      <root url="file:///Applications/Processing.app/Contents/libraries/controlP5/src" />
    </SOURCES>
  </library>
</component>